body {
    background-color: #2E3440;
    margin: 0;
}

.header {
    display: flex;
    padding: 16px;
    background: #4C566A;
    text-align: center;
}

.header-titleDIV {
    flex: 20%;
}

.header-leftDIV {
    flex: 40%;
    text-align: left;
}

.header-rightDIV {
    flex: 40%;
    text-align: right;
}

#root {
    margin: 16px;
    text-align: center;
}

/* -------------------------------- Elementy -------------------------------- */

h2 {
    font-family: 'Comfortaa', sans-serif;
    color: #ECEFF4;
}

#title {
    font-family: 'Lobster Two', sans-serif;
    color: #ECEFF4;
    font-size: 48px;
    margin: 0px;
}

#map {
    width: 50%;
    height: 480px;
    border-radius: 16px;
    margin: auto;
}

#cityname {
    display: inline-block;
    width: 45%;
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
    color: #2E3440;
    background-color: #ECEFF4;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

#show-weather {
    padding: 4px 8px;
    font-family: 'Open Sans', sans-serif;
    background-color: #3B4252;
    border-radius: 8px;
}

#show-weather:hover {
    background-color: #434C5E;
}

.weather-disabled {
    display: none;
}

.weather-enabled {
    display: inline-block;
}